
			<div class="body">
				<div id="content">
					<div>
                        {{with recipe}}
						<div>
							<h3>{{title}}</h3>
							<p>
								{{description}}
							</p>
							<a href="/"><img src="{{bigImagepath}}" alt="Image"></a>
							<h5>INGREDIENTS</h5>
							<ol class="ingredients">
                                {{#each ingredients}}
								<li>
									{{quantity}} {{title}} This is just a place holder
								</li>
								{{/each}}
							</ol>
							<h5>DIRECTIONS</h5>
							<ol class="directions">
                                {{#each directions}}
								<li>
									{{description}}
								</li>
                                {{/each}}
							</ol>
						</div>
                        {{/with}}
					</div>
				</div>
			</div>
		